<!-- <section >
  <carousel>
    <slide>
      <img src="assets/images/homes/one/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/homes/one/7.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/homes/one/8.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
</section>-->


<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">{{name}}</h1>
        <h3 class="mb-5">
            <em>Web Potral And Online Payment</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" (click)="goToLogin()"> Login </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-primary btn-xl js-scroll-trigger" (click)="goToRegister()"> Register </a>


    </div>
    <div class="overlay"></div>
</header>

<!-- <h3>Kurunegala Municiple Council </h3>
<h4>Home Page</h4>

<button mat-raised-button (click)="goToRegister()"> Register </button><br><br>

<button mat-raised-button (click)="goToLogin()"> Login Page</button>

 -->


<!--<section class="content-section bg-light">
  <div class="row">

    <div class="col-lg-12 mx-auto">
      <h2 style="text-align: center;">Login Or Register MCK Onlin Service</h2>
       <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our friends
        at</p>
    </div>
    <div class="col-lg-6">
      <app-login></app-login>
    </div>
    <div class="col-lg-6">
      <app-register></app-register>
    </div>


  </div>

  <br><br>
</section>

 About -->